<div id="advanced_report_search">
  <%= form_for :search do |f| %>
    <% if @stores -%>
        Store:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { include_blank: 'All' } ) %><br />
        <br>
    <% end -%>

    <div id="taxons_products">
      <% if @taxons -%>
        <div class="form-group">
          <%= f.label Spree.t(:taxonomies) %>
          <%= f.select :taxon_id, options_from_collection_for_select(@taxons, :id, :name, @taxon_id), {include_blank: true}, {class: 'form-control'} %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label Spree.t(:products) %>
        <%= f.select :product_id, options_from_collection_for_select(@products, :id, :name, @product_id), {include_blank: true}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="yui-g date-range-filter col-md-12">
        <div class="form-group">
          <%= f.label Spree.t(:date_range) %>
          <div class="row no-padding-bottom">
            <div class="col-md-6">
              <div class="yui-u input-group">
                <%= f.text_field :completed_at_gt, class: 'datepicker datepicker-from form-control', value: @completed_at_gt, placeholder: Spree.t(:start), autocomplete: 'off' %>
                <span class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </span>
              </div>

            </div>
            <div class="col-md-6">
              <div class="yui-u input-group">
                <%= f.text_field :completed_at_lt, class: 'datepicker datepicker-to form-control', value: @completed_at_lt, placeholder: Spree.t(:stop), autocomplete: 'off' %>
                <span class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= button Spree.t(:update) %>
    </div>
  <% end -%>
</div>

<% content_for :head do -%>
<%= javascript_include_tag 'admin/jquery.tablesorter.min.js', 'admin/advanced_reporting.js' %>
<%= stylesheet_link_tag 'admin/advanced_reporting' %>
<script type="text/javascript">
var completed_at_lt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_lt]) ? @report.unfiltered_params[:completed_at_lt] : '' %>";
var completed_at_gt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_gt]) ? @report.unfiltered_params[:completed_at_gt] : '' %>";
</script>
<% end -%>

<% if params[:advanced_reporting] -%>
  <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' -%>
  <input type="hidden" id="product_id" value="<%= params[:advanced_reporting][:product_id] %>" />
  <% end -%>
  <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' -%>
  <input type="hidden" id="taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" />
  <% end -%>
<% end -%>
