<div class="well report_details">
  <ul class="list-unstyled">
    <li><%=raw @report.taxon_text %></li>
    <li><%=raw @report.product_text %></li>
    <li><%=raw @report.date_text %></li>
    <li><%=raw "#{Spree.t(:total_units)}: #{content_tag(:strong, @report.total_units)}" %></li>
    <li><%=raw "#{Spree.t(:total)}: #{content_tag(:strong, @report.format_total)}" %></li>
  </ul>
</div>