<% content_for :page_title do %>
  <%= Spree.t(@report.name) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to @report.download_url(request.fullpath, 'csv', "all"), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download"></span>
    <%= Spree.t('download_csv') %>
  <% end %>
<% end %>

<% content_for :table_filter do %>
  <%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>
<% end %>

<div class="report_details">
  <%= @report.description %><br />
  <%== @report.product_text %>
  <%== @report.taxon_text %>
  <%= @report.date_text %><br />
  <%= "#{Spree.total}: #{@report.format_total}" %>
</div>

<ul id="show_data" class='nav nav-pills'>
  <% @report.increments.each do |inc| %>
    <li <%= 'class=selected active' if inc.eql?(:daily) %> id="<%= inc.to_s %>">
      <label><%= Spree.t("adv_report.increments.#{inc.to_s}") %></label>
    </li>
  <% end -%>
</ul>

<% @report.increments.each do |type| -%>
  <div id="<%= type.to_s %>_data" <%= 'style=display:none;' if type.to_s != 'daily' %> class="advanced_reporting_data">
      <div id="<%= type.to_s %>_chart"></div>
      <%= raw @report.ruportdata[type].to_html %>
  </div>
<% end -%>

<% content_for :head do -%>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load('visualization', '1', {'packages': ['corechart']}); 
  </script>
  <script type="text/javascript">
    google.setOnLoadCallback(drawChart);
    function drawChart(){
      <% @report.increments.each do |type| -%>
          var data_<%= type.to_s %> = new google.visualization.DataTable();
          data_<%= type.to_s %>.addColumn('string', 'Display');
          data_<%= type.to_s %>.addColumn('number', '<%= @report.name %>');
          data_<%= type.to_s %>.addRows(<%= @report.ruportdata[type].size %>);
          <% @report.ruportdata[type].each_with_index do |p, i| %>
            data_<%= type.to_s %>.setValue(<%= i.to_s %>, 0, "<%= p.data[type.to_s.capitalize] %>");
            data_<%= type.to_s %>.setValue(<%= i.to_s %>, 1, "<%= p.data[@report.column].to_s.gsub(/^\$/, '') %>");
          <% end -%>
        var chart_<%= type.to_s %> = new google.visualization.ColumnChart(document.getElementById('<%= type.to_s %>_chart'));
        chart_<%= type.to_s %>.draw(data_<%= type.to_s %>, {
        width: 800,
        height: 400,
        legend : 'none',
        hAxis: { slantedText: true, slantedTextAngle: 30 },
        title: '<%= type.to_s.capitalize + ' ' + @report.name %>' });
      <% end -%> 
    }
  </script>
<% end -%>
