<% content_for :page_title do %>
  <%= Spree.t(@report.name) %>
<% end %>
<p><%= @report.description %></p>

<% content_for :table_filter do %>
  <%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>
<% end %>

<div class="report_details">
  <%= @report.taxon_text %>
  <%= @report.product_text %>
</div>

<%= raw @report.ruportdata.to_html %>