<% content_for :page_title do %>
  <%= Spree.t(@report.name) %>
  <small><%= @report.description %></small>
<% end %>

<% content_for :page_actions do %>
  <%= link_to params.merge(format: :csv), :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-download"></span>
    <%= Spree.t(:download_csv) %>
  <% end %>
<% end %>

<% content_for :table_filter do %>
  <%= render partial: 'spree/admin/reports/advanced_report_criteria' %>
<% end %>

<%= render partial: 'spree/admin/reports/report_details' %>

<%= raw @report.ruportdata.to_html %>